.aboutMeSection {
	background-color: pink;
	width: 80%;
	margin: 0 auto;
	padding: 4%;
	margin-top: 4rem;
	text-align: justify;
}

.introduction {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.title h2 {
	position: relative;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 700;
	color: white;
}
.title h2 span:first-child {
	color: aquamarine;
}

.title {
	text-align: center;
	margin-top: 3rem;
}

.bgText {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #2a2e35;
	transition: all 0.4s ease-in-out;
	z-index: -1;
	transform: translate(-50%, -50%);
	font-weight: 800;
	font-size: 6.3rem;
}

.para {
	margin-top: 10px;
}

.introImage {
	margin-right: 5%;
}

.introImage img {
	width: 200px;
	height: 200px;
}

.scrollText {
	color: white;
	text-align: center;
	margin-top: 2rem;
	font-size: 20px;
}

@media only screen and (max-width: 480px) {
	.introduction {
		padding: 2rem;
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
	}

	.introduction h1 {
		text-align: center;
		margin: 10px;
	}

	.aboutMeSection {
		margin-top: 2rem;
		margin-bottom: 4rem;
	}

	.title {
		margin-top: 2rem;
	}

	.title h2 {
		font-size: 2rem;
	}

	.bgText {
		font-size: 3rem;
	}
}
