.aboutMeSection {
	background-color: pink;
	width: 80%;
	margin: 0 auto;
	padding: 2%;
}

.introduction {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

.introImage {
	margin-right: 5%;
}

.introImage img {
	width: 200px;
	height: 200px;
}

@media only screen and (max-width: 480px) {
	.introduction {
		padding: 2rem;
		display: flex;
		align-items: center;
		flex-direction: column-reverse;
	}

	.introduction h1 {
		text-align: center;
		margin: 10px;
	}
	.aboutMeSection {
		margin-top: 2rem;
		margin-bottom: 4rem;
	}
}
