.wrapper {
	width: 50%;
	margin: 0 auto;
	padding: 3rem 0 4.4rem 0;
	height: calc(100vh - 4.4rem);
}

.section1 {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 2rem;
}

.title h2,
.lightTitle h2 {
	position: relative;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 700;
	color: white;
}

.lightTitle h2 {
	color: var(--light-heading-title);
}
.title h2 span:first-child {
	color: var(--dark-theme-color);
}
.lightTitle h2 span:first-child {
	color: rgb(198 115 115);
}

.title,
.lightTitle {
	text-align: center;
	margin-top: 3rem;
}

.bgText,
.lightBgText {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #2a2e35;
	transition: all 0.4s ease-in-out;
	z-index: -1;
	transform: translate(-50%, -50%);
	font-weight: 800;
	font-size: 6.3rem;
}
.lightBgText {
	color: var(--light-heading-background);
}
.headingPara,
.lightHeadingPara {
	color: white;
	text-align: center;
	margin-top: 2rem;
}
.lightHeadingPara {
	color: var(--light-text-1);
}

.headingPara a {
	color: aquamarine;
	text-decoration: none;
}

.headingPara a:hover {
	color: coral;
}

.inputControl,
.lightInput {
	margin: 1.5rem 0;
}

.inputControl input,
.inputControl textarea,
.lightInput input,
.lightInput textarea {
	border-radius: 30px;
	font-weight: inherit;
	font-size: inherit;
	font-family: inherit;
	padding: 0.8rem 1.1rem;
	outline: none;
	border: none;
	background-color: #2a2e35;
	width: 100%;
	color: white;
	resize: none;
}
.lightInput input,
.lightInput textarea {
	background-color: var(--light-contact-input);
}

.ic {
	display: flex;
}
.ic :last-child {
	margin-left: 1.5rem;
}

.form {
	margin: 0 auto;
	position: relative;
}

.btnWrapper {
	text-align: center;
}

.btn,
.lightBtn {
	padding: 15px 38px;
	border-radius: 30px;
	font-size: 1.5rem;
	background-color: aquamarine;
	color: black;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn i,
.lightBtn i {
	margin-left: 10px;
}
.lightBtn {
	background-color: var(--light-download-button);
}
.endPage {
	color: black;
	text-align: center;
	background: aquamarine;
	position: absolute;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	padding: 6rem;
}

.endPage + footer {
	display: none;
}
.contactFooter {
	position: absolute;
	top: 0;
	left: -27%;
	bottom: 0;
	right: 0;
	width: 20%;
}

/* Mobile view */
@media only screen and (max-width: 480px) {
	.wrapper {
		padding: 10px;
		width: 100%;
		margin: 2rem 0 3rem 0;
		min-height: 100vh;
	}

	.title h2,
	.lightTitle h2 {
		font-size: 3rem;
	}

	.btn,
	.lightBtn {
		padding: 1rem 3rem;
		font-size: 1rem;
	}
	.contactFooter {
		left: 0;
		top: 24rem;
		bottom: 0;
		right: 0;
	}
}
