.footer {
	color: white;
	width: 100%;
	background-color: #c16648;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #8080808a;
	position: absolute;
	bottom:0;


}
.linkWrapper {
	display: flex;
	flex-direction: row;
}

.linkWrapper a {
	margin-left: 1rem;
	color: #0c0b0bb3;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px 10px 0;
	font-weight: bold;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	border-right: 1px solid black;
}

.linkWrapper a:hover {
	color: #81ebc8;
	text-shadow: 0 0 10px black;
}

.icons {
	padding: 10px;
	margin-right: 2rem;
}

.icons a {
	margin-right: 2rem;
}

.icons a i:hover,
.locationIcon:hover {
	color: #81ebc8;
	transform: scale(1.25);
	text-shadow: 0 0 10px black;
}

.icons a i,
.locationIcon {
	color: #0c0b0bb3;
	font-size: 30px;
}

.locationToolTip {
	border: 1px solid grey;
	opacity: 0;
	position: absolute;
	bottom: 3%;
	z-index: 1;
	margin-left: 1rem;
	padding: 1rem;
	right: 2rem;
	bottom: 4rem;
}

.locationWrapper:hover .locationToolTip {
	opacity: 1;
	color: #81ebc8;
}

.leftNav {
	margin-left: 3rem;
}

.leftNav img {
	width: 50px;
	height: auto;
	margin: 10px;
}

.leftWrapper {
	display: flex;
	align-items: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nameIcon {
	color: #0c0b0bb3;
}

/* Mobile View */
@media only screen and (max-width: 480px) {
	.footer {
		flex-direction: column;
		padding: 10px;
	}
	.leftNav {
		margin: 0;
	}
	.linkWrapper {
		margin-bottom: 1rem;
	}
	.icons {
		margin: 0;
	}

	.linkWrapper a {
		font-size: 12px;
	}

	.leftNav img {
		width: 40px;
	}

	.icons a i,
	.locationIcon {
		font-size: 25px;
	}

	.locationToolTip {
		bottom: 3rem;
		background-color: black;
	}
}

/* Tablet View */
@media only screen and (min-width: 480px) and (max-width: 768px) {
	.locationToolTip {
		bottom: 5rem;
	}

	.leftNav {
		margin-left: 0.5rem;
	}
	.icons {
		margin-right: 1rem;
	}
}

/* Laptop View */
@media only screen and (min-width: 769px) and (max-width: 1440px) {
	.leftNav img {
		margin: 0;
	}

	.leftWrapper {
		font-size: small;
	}
}
