.homePage {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: larger;
	padding-top: 8%;
	padding-bottom: 9%;
	text-align: center;
	margin: 0 auto;
	height: calc(100vh - 4.4rem);
}

.imageWrapper,
.lightImageWrapper {
	box-sizing: initial;
	height: 200px;
	width: 200px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--dark-theme-color);
	border-image: initial;
	border-radius: 50%;
	margin: 0px auto;
	padding: 10px;
	max-width: 100%;
}

.profileImage {
	height: 200px;
	width: 200px;
	border-width: initial;
	border-style: initial;
	border-color: white;
	border-image: initial;
	border-radius: 50%;
}

.heading1,
.lightHeading1 {
	font-size: 1rem;
	margin: 0px auto;
	padding: 20px 0px 10px;
	color: var(--dark-button-text);
}

.heading2,
.lightHeading2 {
	color: white;
	padding: 0px 0px 10px;
	overflow: hidden;
	border-right: 0.15em solid orange;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}

.heading3,
.lightHeading3 {
	color: var(--dark-theme-color);
	font-size: 20px;
	padding-bottom: 30px;
	margin: 0px auto;
}

.btn {
	display: flex;
}

.btn a {
	text-decoration: none;
}

.btnLink,
.lightBtnLink {
	border-radius: 30px;
	color: #0a192f;
	font-weight: 600;
	position: relative;
	border: 1px solid var(--dark-theme-color);
	display: flex;
	align-self: flex-start;
	align-items: center;
	overflow: hidden;
}

.btnLink::before,
.lightBtnLink::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: all 0.4s ease-out;
	z-index: -1;
}

.btnLink:hover,
.lightBtnLink:hover {
	transition: all 0.4s ease-out;
}

.btnLink:hover::before,
.lightBtnLink:hover::before {
	width: 100%;
	height: 100%;
	background-color: var(--dark-theme-color);
	transform: translateX(0);
	transition: all 0.4s ease-out;
}

.btnText,
.lightBtntext {
	color: var(--dark-button-text);
	padding: 0px 2rem;
}

.btnText:hover {
	color: #0a192f;
}

.btnIcon,
.lightBtnIcon {
	background-color: var(--dark-theme-color);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	padding: 1rem;
}

.content {
	position: relative;
}
.socialIconsHomePage {
	position: absolute;
	bottom: 0;
	left: -34%;
	top: 0;
}

/* Mobile view */
@media only screen and (max-width: 480px) {
	.heading2 {
		font-size: xx-large;
	}

	.heading3 {
		padding: 0 10px 30px 10px;
	}
	.homePage {
		padding-top: 20%;
	}

	.homePage {
		margin-bottom: 4rem;
	}
	.socialIconsHomePage {
		bottom: 0;
		left: 0;
		top: 15rem;
		right: 0;
	}
}

/* Large Desktop view */
@media only screen and (min-width: 2560px) {
	.heading1 {
		font-size: 1.5rem;
	}
	.heading2 {
		font-size: 3rem;
	}
	.heading3 {
		font-size: 1.5rem;
	}
	.btnText {
		font-size: 1.7rem;
		padding: 0px 3rem;
	}
}

/* Light Theme */

.lightImageWrapper {
	border-color: var(--light-theme-color);
}
.lightHeading1 {
	color: var(--light-heading2-color);
}

.lightHeading2 {
	color: var(--light-heading1-color);
}

.lightHeading3 {
	color: var(--light-heading3-color);
}
.lightBtnLink {
	border: 1px solid var(--light-download-button);
}
.lightBtnLink:hover::before {
	background-color: var(--light-download-button);
}
.lightBtntext {
	color: black;
}
.lightBtnIcon {
	background-color: var(--light-download-button);
}
