* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(https://img.freepik.com/free-vector/ditsy-floral-print-background_52683-30963.jpg?w=1800&t=st=1683234979~exp=1683235579~hmac=d4aefdb26eb2280112d39f37c7588ccc8d6718fa77e34bb58b6a95c8004c7135),
		url("./Images/backgroundImage-1.jpg");
	background-size: cover;
	backdrop-filter: brightness(0.15);
	-webkit-backdrop-filter: brightness(0.15);
	min-height: 100vh;
	background-attachment: fixed;
}

img {
	max-width: 100%;
}

html {
	scroll-behavior: smooth;
}

.animation {
	transform: translateY(0px) scaleY(1);
	animation: appear 1s ease-in-out;
}

@keyframes appear {
	0% {
		transform: translateY(-100%) scaleY(0);
	}
	100% {
		transform: translateY(0) scaleY(1);
	}
}

/* variables */

:root {
	/* dark */
	--dark-theme-color: aquamarine;
	--dark-button-text: rgb(251, 37, 118);
	--dark-nav-text: #9ca4ab;
	--dark-project-text: #fff;

	/* Light */
	--light-theme-color: darkgreen;
	--light-heading1-color: #ff4040c2;
	--light-heading2-color: #096dd9;
	--light-heading3-color: #4c5dbe;
	--light-download-button: #ff7f7f;
	--light-social-icon: rgb(165 217 162);
	--light-heading-background: #52c41a3b;
	--light-heading-title: #407eb6;
	--light-progress-bar: #cfcece;
	--light-about-me-section: #f1f7ec;
	--light-text-1: #2a2e35;
	--light-contact-input: #87d59a;
	--light-project-text:#000;
}
