*{
  margin:0;
  padding:0;
 box-sizing: border-box;
}

body {
background-color: #0a192f;
}

.animation  {
transform: translateY(0px) scaleY(1);
animation: 1s ease-in-out 0s 1 normal none running appear;
}


@keyframes appear {
0% {
  transform: translateY(-100%) scaleY(0);
}
100% {
  transform: translateY(0) scaleY(1);
}
}

@media only screen and (max-device-width: 480px) {
body{width:100%}
}