.dropdown {
	color: rgb(10, 25, 47);
	display: none;
}

.btn i {
	font-size: 2rem;
}

.navWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navBar {
	display: flex;
	flex-direction: row;
	font-family: "Merriweather";
	font-size: medium;
	justify-content: flex-end;
	list-style-type: none;
	padding: 25px 10px 25px 0px;
}

.leftNav img {
	width: 50px;
	height: auto;
	margin: 10px;
}

.leftWrapper {
	display: flex;
	align-items: center;
	font-family:Verdana, Geneva, Tahoma, sans-serif
}

.nameIcon {
	color: azure;
}
.listitems {
	margin-right: 20px;
}

.listitems a {
	color: #9ca4ab;
	position: relative;
	text-decoration: none;
}

.listitems a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 4px;
	background-color: aquamarine;
	bottom: 0;
	left: 0;
	top: 25px;
	transform-origin: right;
	transform: scaleX(0);
	transition: transform 0.1s ease-in-out;
}

.listitems a:hover::before {
	transform-origin: left;
	transform: scaleX(1);
}

.mobileButton {
	color: rgb(10, 25, 47);
	padding: 10px;
	text-align: center;
	display: grid;
	grid-template-columns: 30px 30px;
	justify-items: start;
	justify-content: center;
}

.listitems a:focus-visible {
	padding: 10px;
	outline: 1px solid aquamarine;
	pointer-events: none;
}

.listitems a:focus {
	color: aquamarine;
}

@media only screen and (max-width: 480px) {
	.dropdown {
		display: block;
	}

	.leftNav {
		display: none;
	}

	.navBar {
		display: none;
	}

	.mobileViewListItems {
		list-style-type: none;
		margin-right: 0px;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.mobileViewListItems:hover {
		background-color: darksalmon;
	}

	.mobileViewListItems a {
		text-decoration: none;
	}

	.mobileViewListItems i {
		color: rgb(10, 25, 47);
	}

	.mobileViewListItems a::before {
		content: none;
	}

	.btn {
		background: none;
		border-width: initial;
		border-style: none;
		border-color: initial;
		border-image: initial;
	}

	.mobileViewMenu {
		background-color: rgb(237 246 243 / 89%);
		margin: 0 auto;
		padding: 25px;
		width: 56%;
		position: absolute;
		right: 0;
		z-index: 1;
	}

	.heading {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		flex-direction: row;
		background-color: aquamarine;
	}
}
