.loader {
	position: relative;
}

.loaderText {
	margin-top: 80px;
	color: white;
}

.spinner,
.loaderText {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.background {
	backdrop-filter: brightness(0.15);
	-webkit-backdrop-filter: brightness(1);
}

.footerWrap {
	animation: growDown 500ms ease forwards;
	transform-origin: top;
}

@keyframes growDown {
	0% {
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}
