.container {
	padding: 2rem 2.5rem;
	margin-bottom: 3rem;
}

.title h2,
.lightTitle h2 {
	position: relative;
	text-transform: uppercase;
	font-size: 4rem;
	font-weight: 700;
	color: var(--dark-project-text);
}

.lightTitle h2 {
	color: var(--light-heading-title);
}

.title h2 span:first-child {
	color: var(--dark-theme-color);
}

.lightTitle h2 span:first-child {
	color: rgb(198 115 115);
}

.title,
.lightTitle {
	text-align: center;
	margin-top: 3rem;
}

.bgText,
.lightBgText {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #2a2e35;
	transition: all 0.4s ease-in-out;
	z-index: -1;
	transform: translate(-50%, -50%);
	font-weight: 800;
	font-size: 6.3rem;
}

.lightBgText {
	color: var(--light-heading-background);
}

.portText,
.lightPortText {
	padding: 2rem 0;
	text-align: center;
	color: var(--dark-nav-text);
}
.lightPortText {
	color: var(--light-text-1);
}
.projectList {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	gap: 2rem;
	justify-content: center;
	margin-bottom: 3rem;
}

.portfolioItem,
.portfolioItemLightTheme {
	border-radius: 30px;
	border: 1px solid var(--dark-project-text);
	color: var(--dark-project-text);
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 25%;
	height: 40%; /* Fixed height for consistency */
	overflow: hidden;
	position: relative;
}

.portfolioItemLightTheme {
	border: 1px solid var(--light-project-text);
}

.itemDescription,
.itemDescriptionLightTheme {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin-bottom: 4rem;
	margin-top: 2rem;
}

.itemDescription p,
.itemDescriptionLightTheme p {
	text-align: justify;
	hyphens: auto;
	margin-top: 1rem;
	color: white;
}

.description {
	font-weight: bolder;
	color: darksalmon;
}

.projectImages{
	height: 225px;
	border-radius: 15px;
	object-fit: contain;
	object-position: center;
	margin-top: 2rem;
}

/* title of the card */
.captions,
.lightCaptions {
	font-size: 1.5rem;
	color: white;
	text-align: start;
}
.cardTitle,
.cardTitleLightTheme {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	top: 2rem;
}
.cardTitle i,
.cardTitleLightTheme i {
	margin-right: 20px;
	font-size: 2rem;
	color: aquamarine;
}
.cardTitleLightTheme i {
	color: blueviolet;
}

.lightCaptions {
	color: var(--light-text-1);
}
.techWrapper ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 1rem;
}

.tech {
	list-style: none;
	margin-right: 10px;
}

.link,
.linkLightTheme {
	background-color: var(--dark-theme-color);
	padding: 1rem 2rem;
	border-radius: 10px;
	margin-top: 1rem;
	position: absolute;
	bottom: 2rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
		rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.linkLightTheme {
	background-color: var(--light-theme-color);
}

.linkLightTheme a {
	color: white;
}

.linkLightTheme .githubIcon {
	color: white;
}

a {
	text-decoration: none;
	color: black;
}

.githubIcon {
	margin-right: 10px;
	color: black;
}

/* Mobile View */
@media only screen and (max-width: 480px) {
	.title h2 {
		font-size: 2rem;
	}

	.bgText {
		font-size: 2rem;
	}
	.projectList {
		flex-direction: column;
	}

	.portfolioItem,
	.portfolioItemLightTheme {
		text-align: center;
		padding: 2rem;
		width: 100%;
	}
	.portfolioItem h1,
	.portfolioItemLightTheme h1 {
		font-size: 2rem;
	}

	.portfolioItem p,
	.portfolioItemLightTheme p {
		color: var(--dark-project-text);
		text-align: justify;
		hyphens: auto;
		margin-top: 2rem;
	}

	.itemDescription,
	.itemDescriptionLightTheme {
		display: flex;
		flex-direction: column;
	}

	.projectImages{
		margin-top: 2rem;
	}
}

/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.itemDescription p,
	.itemDescriptionLightTheme p {
		margin-top: 1rem;
		font-size: small;
	}
	.itemDescription,
	.itemDescriptionLightTheme {
		margin-top: 3rem;
	}
	.captions,
	.lightCaptions {
		font-size: 1rem;
	}
	.cardTitle i,
	.cardTitleLightTheme i {
		font-size: 1rem;
	}
	.cardTitle,
	.cardTitleLightTheme {
		align-items: inherit;
	}
	.portfolioItem,
	.portfolioItemLightTheme {
		width: 40%;
		padding: 1rem;
	}
	.projectImages{
		margin-top: 0;
	}
	.portfolioItem h1,
	.portfolioItemLightTheme h1 {
		margin-bottom: 1rem;
	}
}

/* Laptop View */
/* @media only screen and (min-width: 769px) and (max-width: 1440px) {
	.container {
		padding: 5rem 2.5rem;
	}
	.itemDescription p {
		font-size: 1rem;
	}
} */

/* Large Desktop/Screen  view */
@media only screen and (min-width: 1441px) {
	.itemDescription p,
	.itemDescriptionLightTheme p {
		font-size: 1.5rem;
	}

	.captions,
	.lightCaptions {
		font-size: 2rem;
	}

	.link,
	.linkLightTheme {
		font-size: 2rem;
	}

	.itemDescription,
	.itemDescriptionLightTheme {
		margin-bottom: 6rem;
	}

	.portfolioItem,
	.portfolioItemLightTheme {
		padding: 2rem;
	}
}
