.socialLinks {
	position: fixed;
}

.socialLinks li {
	list-style: none;
}

.socialLinks li a {
	background-color: rgb(127, 255, 212);
	display: block;
	font-size: 35px;
	height: 60px;
	line-height: 64px;
	position: relative;
	text-align: center;
	width: 60px;
	border-radius: 50%;
	margin: 10px;
	overflow: hidden;
}

.icon {
	color: rgb(10, 25, 47);
	position: relative;
	transition: all 0.5s ease 0s;
}

.socialLinks li a:hover .icon {
	color: #fff;
	transform: rotateY(360deg);
}

.socialLinks li a:before {
	content: "";
	height: 100%;
	left: 0px;
	position: absolute;
	top: 100%;
	width: 100%;
	border-width: 3px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-image: initial;
	border-radius: 50%;
	transition: all 0.5s ease 0s;
}

.socialLinks li a:hover:before {
	top: 0;
}

.socialLinks li:nth-child(1) a:before {
	background: rgb(110, 84, 148);
}

.socialLinks li:nth-child(2) a:before {
	background: #15ae55;
}

.socialLinks li:nth-child(3) a:before {
	background: #0077b5;
}

/* Small Mobile view */
@media only screen and (max-width: 320px) {
	.socialLinks {
		display: flex;
		flex-direction: row;
		justify-content: center;
		left: 13vw;
		top: 201vw;
	}
}

/* Medium Mobile view */
@media only screen and (min-width: 321px) and (max-width: 375px) {
	.socialLinks {
		display: flex;
		flex-direction: row;
		justify-content: center;
		left: 19vw;
		top: 166vw;
	}
}

/* Large Mobile view */
@media only screen and (min-width: 376px) and (max-width: 480px) {
	.socialLinks {
		display: flex;
		flex-direction: row;
		justify-content: center;
		left: 22vw;
		top: 150vw;
	}
}
/* Other Size */

@media only screen and (min-width: 481px) and (max-width: 767px) {
	.socialLinks {
		display: flex;
		flex-direction: row;
		justify-content: center;
		left: 33vw;
		top: 86vw;
	}
}

/* Tablet view */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.socialLinks {
		top: 44vw;
		left: 9vw;
	}
}

/* Small Laptop view */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.socialLinks {
		left: 16vw;
		top: 35vw;
	}
}

/* Large Laptop view */
@media only screen and (min-width: 1440px) and (max-width: 2559px) {
	.socialLinks {
		left: 24vw;
		top: 27vw;
	}
}

/* Large Desktop view */
@media only screen and (min-width: 2560px) {
	.socialLinks {
		left: 36vw;
		top: 19vw;
	}
}
